
.app{
  margin: 0 auto;
  width: 1170px;
  padding: 15px;
  display: grid;
  grid-template-areas: "header header"
                        "navbar content";
  grid-auto-columns: 30% 70%;
  grid-gap: 10px;
}

.header{
  grid-area: header;
  border: 1px solid #000;
  border-radius: 10px;
  width: 100%;
  height: 50px;
}
.navbar{
  grid-area: navbar;
  border: 1px solid #000;
  border-radius: 10px;
  height: 900px;
}
.content{
  grid-area: content;
  border: 1px solid #000;
  border-radius: 10px;

}